<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Lubricentro</title>
    </head>
    <body>
         <header th:replace="~{layout/plantilla :: header}"/>
         
         <section th:replace="~{categoriageneral/fragmento :: botonesAgregar}"/>
         <section th:replace="~{categoriageneral/fragmento :: agregarCategoriaGeneral}"/>
         <section th:replace="~{categoriageneral/fragmento :: listadoCategoriasGenerales}"/>
         
         <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>